// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2024 Yixun Lan <dlan@gentoo.org>
 */

#include <dt-bindings/gpio/gpio.h>

#define K1_PADCONF(pin, func) (((pin) << 16) | (func))

/* Map GPIO pin to each bank's <index, offset> */
#define K1_GPIO(x)	(x / 32) (x % 32)

&pinctrl {
	uart0_2_cfg: uart0-2-cfg {
		uart0-2-pins {
			pinmux = <K1_PADCONF(68, 2)>,
				 <K1_PADCONF(69, 2)>;

			bias-pull-up = <0>;
			drive-strength = <32>;
		};
	};

	pcie0_3_cfg: pcie0-3-cfg {
		pcie0-3-pins {
			pinmux = <K1_PADCONF(54, 3)>,	/* PERST# */
				 <K1_PADCONF(55, 3)>,	/* WAKE */
				 <K1_PADCONF(53, 3)>;	/* CLKREQ# */

			bias-pull-up = <0>;
			drive-strength = <21>;
		};
	};

	pcie1_3_cfg: pcie1-3-cfg {
		pcie1-3-pins {
			pinmux = <K1_PADCONF(59, 4)>,	/* PERST# */
				 <K1_PADCONF(60, 4)>,	/* WAKE */
				 <K1_PADCONF(61, 4)>;	/* CLKREQ# */

			bias-pull-up = <0>;
			drive-strength = <21>;
		};
	};

	pcie2_4_cfg: pcie2-4-cfg {
		pcie2-4-pins {
			pinmux = <K1_PADCONF(62, 4)>,	/* PERST# */
				 <K1_PADCONF(112, 3)>,	/* WAKE */
				 <K1_PADCONF(117, 4)>;	/* CLKREQ# */

			bias-pull-up = <0>;
			drive-strength = <21>;
		};
	};

	pwm14_1_cfg: pwm14-1-cfg {
		pwm14-1-pins {
			pinmux = <K1_PADCONF(44, 4)>;
			bias-pull-up = <0>;
			drive-strength = <32>;
		};
	};
};
