# SPDX-License-Identifier: GPL-2.0-only
#
# RISC-V CPU Idle drivers
#

config RISCV_SBI_CPUIDLE
	bool "RISC-V SBI CPU idle Driver"
	depends on RISCV_SBI
	select DT_IDLE_STATES
	select CPU_IDLE_MULTIPLE_DRIVERS
	select DT_IDLE_GENPD if PM_GENERIC_DOMAINS_OF
	help
	  Select this option to enable RISC-V SBI firmware based CPU idle
	  driver for RISC-V systems. This drivers also supports hierarchical
	  DT based layout of the idle state.

config SIFIVE_DMC_PD_CPUIDLE
	bool "SiFive DMC SBI PD Provider Driver"
	depends on ARCH_SIFIVE && RISCV_SBI && PM && OF
	select PM_GENERIC_DOMAINS
	select PM_GENERIC_DOMAINS_OF
	select RISCV_SBI_CPUIDLE
	default y
	help
	  Select this option to enable SiFive DMC SBI PD Provider driver.
	  This driver will create the genpd provider and work with the
	  RISC-V SBI firmware based CPU idle driver.
