# SPDX-License-Identifier: GPL-2.0-only
#
# RISC-V CPU Idle drivers
#

config RISCV_SBI_CPUIDLE
	bool "RISC-V SBI CPU idle Driver"
	depends on RISCV_SBI
	select DT_IDLE_STATES
	select CPU_IDLE_MULTIPLE_DRIVERS
	help
	  Select this option to enable RISC-V SBI firmware based CPU idle
	  driver for RISC-V systems.

config RISCV_SBI_CPUIDLE_DOMAIN
	bool "RISC-V SBI CPU idle Domain"
	depends on RISCV_SBI_CPUIDLE
	depends on PM_GENERIC_DOMAINS_OF
	select DT_IDLE_GENPD
	default y
	help
	  Select this option to enable RISC-V SBI firmware based CPU idle
	  driver to use PM domains, which is needed to support the hierarchical
	  DT based layout of the idle state.
