// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2025 Lukas Schmid <lukas.schmid@netcube.li>
 */

/dts-v1/;
#include "sun8i-t113s-netcube-nagami.dtsi"

#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "NetCube Systems Nagami Keypad Carrier Board";
	compatible = "netcube,nagami-keypad-carrier", "netcube,nagami",
				 "allwinner,sun8i-t113s";

	keypad: keypad {
		compatible = "gpio-matrix-keypad";
		debounce-delay-ms = <5>;
		col-scan-delay-us = <2>;

		row-gpios = <&mcp23008 0 0
					 &mcp23008 1 0
					 &mcp23008 2 0
					 &mcp23008 3 0>;

		col-gpios = <&mcp23008 6 0
					 &mcp23008 5 0
					 &mcp23008 4 0>;

		linux,keymap = <0x00000201
						0x00010202
						0x00020203
						0x01000204
						0x01010205
						0x01020206
						0x02000207
						0x02010208
						0x02020209
						0x0300020A
						0x03010200
						0x0302020D>;
	};

	leds {
		compatible = "gpio-leds";

		led-heartbeat {
			gpios = <&mcp23008 7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			color = <LED_COLOR_ID_YELLOW>;
			function = LED_FUNCTION_HEARTBEAT;
		};

		led_status_red: led-status-red {
			gpios = <&pio 3 16 GPIO_ACTIVE_HIGH>;  /* PD16 */
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_STATUS;
		};

		led_status_green: led-status-green {
			gpios = <&pio 3 22 GPIO_ACTIVE_HIGH>;  /* PD22 */
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
		};
	};

	multi-led {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_MULTI>;
		function = LED_FUNCTION_STATUS;
		leds = <&led_status_red &led_status_green>;
	};
};

&ehci0 {
	status = "okay";
};

&i2c2 {
	status = "okay";

	mcp23008: gpio@20 {
		compatible = "microchip,mcp23008";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;
		interrupts-extended = <&pio 5 6 IRQ_TYPE_LEVEL_LOW>;  /* PF6 */
		interrupt-controller;
		#interrupt-cells = <2>;
	};
};

&ohci0 {
	status = "okay";
};

&pio {
	gpio-line-names = "", "", "", "", // PA
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "", // PB
					  "", "", "UART3_TX", "UART3_RX",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "eMMC_CLK", "eMMC_CMD", // PC
					  "eMMC_D2", "eMMC_D1", "eMMC_D0", "eMMC_D3",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "", // PD
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "LED_STATUS_RED", "", "", "",
					  "I2C2_SCL", "I2C2_SDA", "LED_STATUS_GREEN", "",
					  "", "", "", "",
					  "", "", "", "",
					  "ETH_CRSDV", "ETH_RXD0", "ETH_RXD1", "ETH_TXCK", // PE
					  "ETH_TXD0", "ETH_TXD1", "ETH_TXEN", "",
					  "ETH_MDC", "ETH_MDIO", "QWIIC_nINT", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "", // PF
					  "", "", "KEY_nINT", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "ESP_CLK", "ESP_CMD", "ESP_D0", "ESP_D1", // PG
					  "ESP_D2", "ESP_D3", "UART1_TXD", "UART1_RXD",
					  "ESP_nBOOT", "ESP_nRST", "I2C3_SCL", "I2C3_SDA",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "",
					  "", "", "", "";
};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	status = "okay";
};
