# SPDX-License-Identifier: GPL-2.0
config BAO_IO_DISPATCHER
	tristate "Bao Hypervisor I/O Dispatcher"
	select EVENTFD
	help
	  The Bao I/O Dispatcher is a kernel module for backend Linux VMs
	  running under the Bao hypervisor. It establishes the connection
	  between the Remote I/O system (Bao's mechanism for forwarding
	  I/O requests from frontend VMs to the backend VMs) and the
	  VirtIO backend device.

	  This provides a unified API to support various VirtIO backends,
	  allowing Bao guests to perform I/O through the hypervisor
	  transparently.

