# SPDX-License-Identifier: GPL-2.0-only
menu "Risc-V Specific firmware drivers"
depends on RISCV

config RISCV_SBI_SSE
	bool "Enable SBI Supervisor Software Events support"
	depends on RISCV_SBI
	default y
	help
	  The Supervisor Software Events support allows the SBI to deliver
	  NMI-like notifications to the supervisor mode software. When enabled,
	  this option provides support to register callbacks on specific SSE
	  events.

config RISCV_SSE_NMI
	bool "Enable SBI Supervisor Software Events NMI support"
	depends on RISCV_SBI_SSE && SMP
	default y
	help
	  This option enables support for delivering Non-Maskable Interrupt
	  (NMI) notifications through the Supervisor Software Events (SSE)
	  framework. When enabled, the system can deliver local, unknown and
	  other types of NMIs.

endmenu
