# SPDX-License-Identifier: GPL-2.0
config BAO_SHMEM
	tristate "Bao hypervisor shared memory support"
	help
	This enables support for Bao shared memory communication.
	It allows the kernel to interface with guests running under
	the Bao hypervisor, providing a character device interface
	for exchanging data through dedicated shared-memory regions.
