# SPDX-License-Identifier: GPL-2.0
config BAO_SHMEM
	tristate "Bao hypervisor shared memory support"
	depends on HAVE_ARM_SMCCC || RISCV
	help
	  This enables support for Bao shared memory communication.
	  It allows the kernel to interface with guests running under
	  the Bao hypervisor, providing a character device interface
	  for exchanging data through dedicated shared-memory regions.
	  Channels are declared on the kernel command line via
	  "bao_ipcshmem.channels=".

	  To compile this driver as a module, choose M here: the module
	  will be called bao_ipcshmem.

	  If unsure, say N.
